<ion-view view-title="Profile" scroll="true">
   <ion-content scroll="true">
        <div class="hero has-mask" style="background-image: url('img/hondavermelho.jpg');background-repeat:no-repeat;">
        </div>
        <div style="background-color:#1565C0; margin-top:-10px;">
            <h4 style="color:white; margin-left:8px;"> HB20 1.6 Turbo Comfort Plus 2012 </span>R$30.299,00</h4>
        </div>

        <div class="content double-padding" style="padding-top:4px;">
            <p class="text-muted" style="color:#666">
               Carro semi-novo, unico dono, 50.000km </br>
               Inclui: direção elétrica, ar condicionado, freio ABS, Airbag, trava e vidros elétricos </br>
               Procedencia do veículo validada por Laudo </br> 
            </p>
              <h4 class="positive">Simulação</h4>

              <div class="list card">
            <div class="item item-image">    
             <div class="list">
                <a class="item item-thumbnail-left" style="height:100px; margin-bottom: 10px; margin-top: 10px;" ng-click="exibirConfirmacaoCompra()">
                    <img src="img/piggy.png">
                    <h2>Banco Piggy</h2>
                    <p  style="white-space:initial"> <span style="font-size:16px;color:#1565C0">54</span> x <span style="font-size:20px;font-weight: 700;color:#1565C0">R$599</span> </br> A melhor taxa do mercado! Foque nós seus objetivos, deixa que nós cuidamos do resto</p>
                </a>
                 <a class="item item-thumbnail-left"   style="height:100px; margin-bottom: 10px; margin-top: 10px;" ng-click="exibirConfirmacaoCompra()">
                    <img src="img/icon_bank2.png">
                   <h2>Banco Unity</h2>
                    <p style="white-space:initial"><span style="font-size:16px;color:#1565C0">72</span> x <span style="font-size:20px;font-weight: 700;color:#1565C0">R$399</span> </br> Você precisa de crédito, nós te damos! </p>
                </a>
                <a class="item item-thumbnail-left"  style="height:100px; margin-bottom: 10px; margin-top: 10px;" ng-click="exibirConfirmacaoCompra()">
                    <img src="img/icon_bank.png">
                    <h2>Banco Philadelphia</h2>
                    <p style="white-space:initial"> <span style="font-size:16px;color:#1565C0">48</span> x <span style="font-size:20px;font-weight: 700;color:#1565C0">R$799</span> </br> Facilidade de pagamento! Pague somente em dezembro! Conquiste seu sonho hoje mesmo </p>
                </a>
               
            </div>
            </div>
            </div>
    </ion-content>
</ion-view>