<ion-view view-title="Profile" scroll="true">
   <ion-content scroll="true">
        <div class="hero has-mask" style="background-image: url('http://s2.glbimg.com/2vLGgWL2kT-T7Y_0p5yHd6_g_v8=/620x400/e.glbimg.com/og/ed/f/original/2016/01/20/hyundai-hb20-r-spec-02.jpg');background-size:100%;background-repeat:no-repeat;">
        </div>
       <div class="mid-bar dark-bg z1 padding">
            <h3>HB20</h3>
            <p>R$30.299,00</p>
        </div>

        <div class="content double-padding">
            <h4 class="positive">Descrição</h4>
            <p class="text-muted">
               Este carro é lindo demais da conta!!! </br>
               É tão lindo que fico emocionada! </br>
               Nunca vi tanta beleza na minha vida MEU DEUS
            </p>
              <h4 class="positive">Simulação</h4>

              <div class="list card">
            <div class="item item-image">    
             <div class="list">
                <a class="item item-thumbnail-left">
                    <img src="img/piggy.jpg">
                    <h2>Ionic Framework</h2>
                    <p>A mobile development revolution</p>
                </a>
                <a class="item item-thumbnail-left">
                    <img src="img/google-material.png">
                    <h2>Material Design</h2>
                    <p>A visual language of design &amp; innovation</p>
                </a>
                <a class="item item-thumbnail-left">
                    <img src="img/logo.png">
                    <h2>Ionic Material</h2>
                    <p>Their love-child</p>
                </a>
            </div>
            </div>
            </div>
    </ion-content>
</ion-view>
