<icon-view>

    <ion-content scroll="true">
        <div class="list card">
            <div class="item item-image" ng-click="irParaListaProdutos()">    
                <div class="text-on-image card-title-shadow">
                 <img src="img/carro capa.jpeg">
                </div>

            </div>

            </div>

            <div class="list card">
            <div class="item item-image" ng-click="irParaListaProdutos()">    
            <img src="/../img/casa capa.jpg">
            <div class="text-on-image card-title-shadow">
            </div>
            </div>

            </div>

            <div class="list card">
            <div class="item item-image">    
            <img src="img/viagem 2.jpeg">
            <div class="text-on-image card-title-shadow">
            </div>
            </div>

            </div>


    </ion-content>
</ion-view>