<icon-view>
    
    <ion-content scroll="true">
        <div class="list card">
            <div class="item item-image" ng-click="irParaDetalheProduto()">    
                <div class="text-on-image card-title-shadow">
                 <img src="/../img/carro capa.jpeg">
                </div>
                <div class="item item-text-wrap material-text-zone">
                    O Carro que voce sempre sonhou no preço que cabe no seu bolso
                </div>
            </div>

            </div>

            <div class="list card">
            <div class="item item-image" ng-click="irParaDetalheProduto()">    
            <img src="/../img/casa capa.jpg">
            <div class="text-on-image card-title-shadow">
            </div>
            <div class="item item-text-wrap material-text-zone">
                O Novo HB20 acompanhanda o novo visual da marca com destaque para a grade hexagonal com aletas cromadas que traz muito requinte e uma identidade
            
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left white-tabs">
            <a class="tab-item white-tab-text" href="#">
                <i class="icon ion-thumbsup"></i>
                Like
            </a>
            <a class="tab-item white-tab-text" href="#">
                <i class="icon ion-chatbox"></i>
                Comment
            </a>
            <a class="tab-item white-tab-text" >
                <i class="icon ion-share"></i>
                Share
            </a>
            </div>
            </div>

            </div>

    </ion-content>
</ion-view>