<ion-view>
  <ion-floating-button ng-click="chamaBarCode()" has-footer="false" button-color="#2AC9AA" icon="ion-plus" iconColor="#fff">

  </ion-floating-button>

    <ion-content scroll="true">
        <div class="list card">
            <div class="item item-image" ng-click="irParaDetalheProduto()">
                <div class="text-on-image card-title-shadow">
                 <img src="img/hondavermelho.jpg">
                </div>
                <div class="item item-text-wrap material-text-zone">
                    <ul>
                        <li><h2>HB20 1.6 Turbo Comfort Plus 2012 <p style="text-align:right;">2 m </p> </h2></li>
                        <li>R$30.299,00</li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="list card">
            <div class="item item-image" ng-click="irParaDetalheProduto()">
            <img src="img/carro2.jpg">
            <div class="text-on-image card-title-shadow">
            </div>
            <div class="item item-text-wrap material-text-zone">
               <ul>
                        <li><h2>Golf 2.0 2009<p style="text-align:right;">4.1 m </p></h2></li>
                        <li>Preço: R$29.299,00</li>
                        <li></li>
                    </ul>
            </div>
            </div>
            </div>

            <div class="list card">
            <div class="item item-image" ng-click="irParaDetalheProduto()">
                <div class="text-on-image card-title-shadow">
                 <img src="img/carro3.jpg">
                </div>
                <div class="item item-text-wrap material-text-zone">
                    <ul>
                        <li><h2>Fox BlueMotion 2013<p style="text-align:right;">4.4 m </p></h2></li>
                        <li>Preço: R$39.299,00</li>
                        <li></li>
                    </ul>
                </div>
            </div>

            </div>

            <div class="list card">
            <div class="item item-image" ng-click="irParaDetalheProduto()">
                <div class="text-on-image card-title-shadow">
                 <img src="img/renaultLogan.jpg">
                </div>
                <div class="item item-text-wrap material-text-zone">
                    <ul>
                        <li><h2>Renault Logan Authentique 2015<p style="text-align:right;">6 m </p></h2></li>
                        <li>Preço: R$49.299,00</li>
                        <li></li>
                    </ul>
                </div>
            </div>

            </div>
    </ion-content>
</ion-view>
