<ion-view>
    
    <ion-content scroll="true">
        <div class="list card">
            <div class="item item-image" ng-click="irParaDetalheProduto()">    
                <div class="text-on-image card-title-shadow">
                 <img src="img/hondavermelho.jpg">
                </div>
                <div class="item item-text-wrap material-text-zone">
                    <ul>
                        <li><h2>HB20</h2></li>
                        <li>Preço: R$30.299,00</li>
                        <li></li>        
                    </ul>
                </div>
            </div>

        </div>

        <div class="list card">
            <div class="item item-image" ng-click="irParaDetalheProduto()">    
            <img src="img/carro2.jpg">
            <div class="text-on-image card-title-shadow">
            </div>
            <div class="item item-text-wrap material-text-zone">
               <ul>
                        <li><h2>Golf</h2></li>
                        <li>Preço: R$29.299,00</li>
                        <li></li>        
                    </ul>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left white-tabs">
            <a class="tab-item white-tab-text" href="#">
                <i class="icon ion-thumbsup"></i>
                Like
            </a>
            <a class="tab-item white-tab-text" href="#">
                <i class="icon ion-chatbox"></i>
                Comment
            </a>
            <a class="tab-item white-tab-text" >
                <i class="icon ion-share"></i>
                Share
            </a>
            </div>
            </div>
            </div>

            <div class="list card">
            <div class="item item-image" ng-click="irParaDetalheProduto()">    
                <div class="text-on-image card-title-shadow">
                 <img src="img/carro3.jpg">
                </div>
                <div class="item item-text-wrap material-text-zone">
                    <ul>
                        <li><h2>Fox BlueMotion</h2></li>
                        <li>Preço: R$39.299,00</li>
                        <li></li>        
                    </ul>
                </div>
            </div>

            </div>

            <div class="list card">
            <div class="item item-image" ng-click="irParaDetalheProduto()">    
                <div class="text-on-image card-title-shadow">
                 <img src="img/carro4.jpg">
                </div>
                <div class="item item-text-wrap material-text-zone">
                    <ul>
                        <li><h2>Renault</h2></li>
                        <li>Preço: R$49.299,00</li>
                        <li></li>        
                    </ul>
                </div>
            </div>

            </div>
    </ion-content>
</ion-view>